.grid {
    display: grid;
    gap: 1rem;
}

.grid--1x2 {
    grid-template-columns: 1fr 1fr;
}

.comments__input {
    padding: 1rem;
    background-color: #FAFBFC;
    border-bottom: 1px solid rgba(128, 137, 150, 0.2);
}

.comments__input .input {
    padding: 1rem;
    border: 1px solid rgba(128, 137, 150, 0.2);
    border-radius: 3px;
    background-color: #FFFFFF;
    outline: none;
    font-family: Roboto, sans-serif;
    font-size: medium;
}

.input::placeholder {
    color: #6c757d;
}

.comments__input.grid--1x2 {
    align-items: center;
    grid-template-columns: auto 1fr;
}

.comments__profile {
    width: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}