.grid {
    composes: grid from "../CommentInput/CommentInput.module.css";
}

.grid--1x2 {
    composes: grid--1x2 from "../CommentInput/CommentInput.module.css";
    grid-template-columns: auto 1fr;
}

.comment {
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 137, 150, 0.2);
}

.before-comment {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.before-comment .bar {
    width: 1px;
    height: 100%;
    background-color: rgba(128, 137, 150, 0.2);
}

.comment__user {
    display: inline-block;
    margin: 0 1rem 0 0;
}

.comment__duration {
    opacity: 0.5;
}

.comment__header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__option {
    /* color: #6c757d; */
    background-color: transparent;
    color: rgba(128, 137, 150, 0.5);
    font-size: 1.5rem;
    border: none;
}

.comment__text {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    opacity: 0.9;
}

.comment__footer {
    display: flex;
    justify-content: space-between;
}

.comment__footer > span{
    display: flex;
    align-items: center;
}

.btn {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    background-color: #bfc0c4;
    margin-right: .5rem;
    display: flex;
    align-items: center;
}

.comment__option.btn {
    background-color: transparent;
}

.btn:hover,
.comment__footer .btn:hover,
.btn:hover .react-icons {
    background-color: #2584ff;
    color: white;
}

.btn--reply {
    background-color: transparent;
    color: #2584ff;
    font-weight: bold;
}

.btn > span {
    font-weight: bold;
    margin-left: 0.3rem;
}

.comment__footer .btn {
    background-color: #ECF0F4;
}

.comment__footer .fa {
    color: rgba(128, 137, 150, 0.9);
}

.reply--input {
    margin-top: 2rem;
    border-bottom: none;
}

.reply-input--hidden {
    display: none;
}